@charset "UTF-8";
html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

* {
  margin: 0;
  float: none; }

header.navigation {
  transition: all 1s;
  background-color: tomato;
  border-bottom: 1px solid #ff3814;
  min-height: 60px;
  width: 100%;
  z-index: 999;
  display: flex; }
  header.navigation .navigation-wrapper {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%;
    position: relative;
    z-index: 9999;
    display: flex; }
    header.navigation .navigation-wrapper:last-child {
      margin-right: 0; }
  header.navigation .logo {
    max-height: 60px;
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 40.29137%;
    float: none;
    display: flex;
    justify-content: center;
    align-items: center; }
    header.navigation .logo:last-child {
      margin-right: 0; }
    header.navigation .logo h1 {
      font-size: 1.5em; }
  header.navigation .navigation-menu-button {
    color: black;
    display: block;
    float: right;
    line-height: 60px;
    margin: 0;
    padding-right: 1em;
    text-decoration: none;
    text-transform: uppercase; }
    @media screen and (min-width: 53.75em) {
      header.navigation .navigation-menu-button {
        display: none; } }
    header.navigation .navigation-menu-button:focus, header.navigation .navigation-menu-button:hover {
      color: grey; }
  header.navigation nav {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 40.29137%;
    margin-left: 25.58941%;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
    min-height: 60px;
    z-index: 9999999;
    display: flex;
    margin: 0; }
    header.navigation nav:last-child {
      margin-right: 0; }
    @media screen and (min-width: 53.75em) {
      header.navigation nav {
        float: left; } }
  header.navigation ul.navigation-menu {
    clear: both;
    display: none;
    margin: 0 auto;
    overflow: visible;
    padding: 0;
    width: 100%;
    z-index: 9999;
    align-items: center;
    justify-content: space-around; }
    header.navigation ul.navigation-menu.show {
      display: block; }
    @media screen and (min-width: 53.75em) {
      header.navigation ul.navigation-menu {
        display: flex;
        margin: 0;
        padding: 0; } }
  header.navigation ul li.nav-link {
    background: tomato;
    display: block;
    line-height: 60px;
    padding-right: 0.8em;
    text-align: right;
    width: 100%;
    z-index: 9999; }
    @media screen and (min-width: 53.75em) {
      header.navigation ul li.nav-link {
        background: transparent;
        display: inline;
        line-height: 60px;
        text-decoration: none;
        width: auto; } }
    header.navigation ul li.nav-link a {
      color: black;
      display: inline-block;
      text-decoration: none; }
      @media screen and (min-width: 53.75em) {
        header.navigation ul li.nav-link a {
          padding-right: 1em; } }
      header.navigation ul li.nav-link a:focus, header.navigation ul li.nav-link a:hover {
        color: grey; }
  header.navigation .active-nav-item a {
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    padding-bottom: 3px; }
  header.navigation li.more.nav-link {
    padding-right: 0;
    transition: all ease 1s; }
    @media screen and (min-width: 53.75em) {
      header.navigation li.more.nav-link {
        padding-right: 1em; } }
    header.navigation li.more.nav-link > ul > li:first-child a {
      padding-top: 1em; }
    header.navigation li.more.nav-link a {
      margin-right: 1em; }
    header.navigation li.more.nav-link > a {
      padding-right: 0.6em; }
    header.navigation li.more.nav-link > a:after {
      position: absolute;
      top: auto;
      right: -0.4em;
      bottom: auto;
      left: auto;
      content: '\25BE';
      color: black; }
  header.navigation li.more {
    overflow: visible;
    padding-right: 0; }
    header.navigation li.more a {
      padding-right: 0.8em; }
    header.navigation li.more > a {
      padding-right: 1.6em;
      position: relative; }
      @media screen and (min-width: 53.75em) {
        header.navigation li.more > a {
          margin-right: 1em; } }
      header.navigation li.more > a:after {
        content: '›';
        font-size: 1.2em;
        position: absolute;
        right: 0.5em; }
    header.navigation li.more:focus .submenu, header.navigation li.more:hover .submenu {
      display: block;
      top: 50px;
      flex-direction: column; }
    @media screen and (min-width: 53.75em) {
      header.navigation li.more {
        padding-right: 0.8em;
        position: relative; } }
  header.navigation ul.submenu {
    display: none;
    padding-left: 0; }
    @media screen and (min-width: 53.75em) {
      header.navigation ul.submenu {
        left: -1em;
        position: absolute;
        top: 1.5em; } }
    @media screen and (min-width: 53.75em) {
      header.navigation ul.submenu .submenu {
        left: 11.8em;
        top: 0; } }
    header.navigation ul.submenu li {
      display: block;
      padding-right: 0; }
      @media screen and (min-width: 53.75em) {
        header.navigation ul.submenu li {
          line-height: 46.15385px; }
          header.navigation ul.submenu li:first-child > a {
            border-top-left-radius: 3px;
            border-top-right-radius: 3px; }
          header.navigation ul.submenu li:last-child > a {
            border-bottom-left-radius: 3px;
            border-bottom-right-radius: 3px;
            padding-bottom: 0.7em; } }
      header.navigation ul.submenu li a {
        background-color: #ff5638;
        display: inline-block;
        text-align: right;
        width: 100%; }
        @media screen and (min-width: 53.75em) {
          header.navigation ul.submenu li a {
            background-color: tomato;
            padding-left: 1em;
            text-align: left;
            width: 12em; } }
  header.navigation .navigation-tools {
    background: #505050;
    clear: both;
    display: block;
    height: 60px; }
    @media screen and (min-width: 53.75em) {
      header.navigation .navigation-tools {
        background: transparent;
        clear: none;
        float: right; } }

section.homepage-content {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%; }
  section.homepage-content::after {
    clear: both;
    content: "";
    display: table; }
  section.homepage-content:last-child {
    margin-right: 0; }

.accordion-tabs {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 65.88078%;
  margin-left: 17.05961%;
  padding: 0; }
  .accordion-tabs:last-child {
    margin-right: 0; }
  .accordion-tabs::after {
    clear: both;
    content: "";
    display: table; }
  .accordion-tabs .tab-header-and-content {
    list-style: none;
    border: 1px solid #A298F7;
    background-color: #D1CCF7;
    margin-right: 200px; }
    @media screen and (min-width: 53.75em) {
      .accordion-tabs .tab-header-and-content {
        display: inline; } }
  .accordion-tabs .tab-link {
    display: initial;
    padding-right: 1em; }
    @media screen and (min-width: 53.75em) {
      .accordion-tabs .tab-link {
        display: inline-block; } }
  .accordion-tabs .is-active {
    color: #ff0000; }
  .accordion-tabs .tab-content {
    display: none;
    width: 100%; }
    @media screen and (min-width: 53.75em) {
      .accordion-tabs .tab-content {
        float: left; } }

/*# sourceMappingURL=styles.css.map */
